@{
    ViewBag.Title = "Index";
}

<div class="jumbotron">
    <h1>Historia pomiarów</h1>
    <p class="lead">Spis pomiarów konkretnego czujnika</p>
</div>


@model WebApp.Models.Chart

<!--@Html.DropDownList("List", null, "wybierz czujnik", new { @onchange = "document.location.href='/History/Index?value='+this.value;" })
@Html.DropDownList("Day", null, "wybierz czujnik", new { @onchange = "document.location.href='/History/Index?value='+this.value;" }) -->

@Html.DropDownList("List", null, "wybierz czujnik")
@Html.DropDownList("Day", null, "cały okres")

<script src="~/Scripts/jquery-1.9.1.js"></script>
<script>
        $(function () {
            $('#List').change(function(){
                document.location.href = '/History/Index?value=' + $('#List').val() + '&date=' + $('#Day').val()
            })
        });
        $(function () {
            $('#Day').change(function () {
                document.location.href = '/History/Index?value=' + $('#List').val() + '&date=' + $('#Day').val()
            })
        });
</script>


@(Model.Highchart)

<table id="aliasTable" class="table text-left" width="250">
    <tr>
        <th width="100">Data</th>
        <th width="100">Pomiar</th>
    </tr>
    @for (int i = Model.Data.Count() - 1; i >= 0; --i)
    {
        <tr>
            <td>@Html.DisplayFor(m => m.Data.ElementAt(i).Date)</td>
            <td>@Html.DisplayFor(m => m.Data.ElementAt(i).Temperature) <sup>o</sup>C</td>
        </tr>
    }
</table>

